<!DOCTYPE html>
<html>
  <head>
    <title>Subscriute a HumorDuart</title>
	  <meta name="description" content="Subscribe to the newsletter | MadBoulder">
    <meta name="application-name" content="HumorDuart jocs de paraules en català" />
    <meta name="keywords" content="humorduart, acudits en català, jocs de paraules, acudits, xistes">
  </head>
  <body>
	<main>
    <div class="container" id="mainContainer">
      <div class="container" id="pageContent" style="text-align: center;">
        <div style="margin-top: 50px;">
          <h2 style="font-size: 66px; font-weight: 400; margin-bottom: 20px;">Benvingut a HumorDuart</h2>
        </div>
        <div style="margin: 11px 0px 18px 0px;">
          <h2 style="font-size: 30px; font-weight: 400; margin-bottom: 20px;">asdgasdfgasdfgasdfasdfasdf</h2>
        </div>
        <div style="margin: 11px 0px 18px 0px;">
          <h2 style="font-size: 30px; font-weight: 700; margin-bottom: 20px;">awefawefawefagfasfgsdfhdsg</h2>
        </div>
        <div class="">
          <div class="ml-embedded" data-form="CBdaEf"></div>
        </div>
      </div>
    </div>
		<br />
	</main>
  </body>
</html>
